In [ ]:
import math

Question 1
What data type is each of the following?
5
5.0
5 > 1
'5'
5 * 2
'5' * 2
'5' + '2'
5 / 2
5 // 2
[5, 2, 1]
5 in [1, 4, 6]
math.pi

In [ ]:
print(type(5))
print(type(5.0))
print(type(5>1))
print(type('5'))
print(type(5 * 2))
print(type('5' * 2))
print(type('5' + '2'))
print(type(5 / 2))
print(type(5 // 2)),type([5, 2, 1]),type(5 in [1, 4, 6]),type("math.pi")

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'int'>

(None, list, bool, str)

Write (and evaluate) Python expressions that answer these questions:

a. How many letters are there in 'Supercalifragilisticexpialidocious'?

b. Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring?

c. Which of the following words is the longest:
Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, or
Bababadalgharaghtakamminarronnkonn?

d. Which composer comes first in the dictionary: 'Berlioz', 'Borodin', 'Brian',
'Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?

In [ ]:
str1='Supercalifragilisticexpialidocious'
str2='Honorificabilitudinitatibus'
str3='Bababadalgharaghtakamminarronnkonn'
word ='ice'
print("the length of the String {} is: ".format(str1),len(str1))
print('*'*20)
if word in str1:
  print("The {} contains {}".format(str1,word))
print('*'*20)
if len(str1)>len(str2) and len(str1)>len(str3):
  print("the bigger length word is : {} {}".format(str1,len(str1)))
elif len(str2)>len(str1) and len(str2)>len(str3):
  print("the bigger length word is :{} {} ".format(str2,len(str2)))
else:
  print("the bigger length word is : {} {}".format(str3,len(str3))) 
print('*'*20)
list1=['Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein']
list1.sort()
print("The Sorted list is : ",list1)
print("The First word in the list is : ",list1[0])
print("The last word in the list is : ",list1[-1])

the length of the String Supercalifragilisticexpialidocious is:  34
********************
The Supercalifragilisticexpialidocious contains ice
********************
the bigger length word is : Bababadalgharaghtakamminarronnkonn 34
********************
The Sorted list is :  ['Bartok', 'Bellini', 'Berlioz', 'Bernstein', 'Borodin', 'Brian', 'Buxtehude']
The First word in the list is :  Bartok
The last word in the list is :  Buxtehude

Question 3

a. Write a function inside(x,y,x1,y1,x2,y2) that returns True or False
depending on whether the point (x,y) lies in the rectangle with lower left
corner (x1,y1) and upper right corner (x2,y2).
>>> inside(1,1,0,0,2,3)
True
>>> inside(-1,-1,0,0,2,3)
False

b. Use function inside() from part a. to write an expression that tests whether
the point (1,1) lies in both of the following rectangles: one with lower left
corner (0.3, 0.5) and upper right corner (1.1, 0.7) and the other with lower
left corner (0.5, 0.2) and upper right corner (1.1, 2).

In [ ]:
#The solution for part A

def inside(x,y,x1,y1,x2,y2) : 
    if (x >= x1 and x <= x2) and (y >= y1 and y <= y2) : 
        print('The point ({},{}) lies within the rectangle ({},{}) and ({},{}).'.format(x,y,x1,y1,x2,y2))
        return True
    else:
        print('The point ({},{}) lies outside the rectangle ({},{}) and ({},{}).'.format(x,y,x1,y1,x2,y2))
        return False;

In [ ]:
inside(1,1,0,0,2,3)

The point (1,1) lies within the rectangle (0,0) and (2,3).

True

In [ ]:
#the solution for part B
def inside(x,y,x1,y1,x2,y2) : 
    if (x >= x1 and x <= x2) and (y >= y1 and y <= y2) :
        return True
    else:
        return False;
a = inside(1,1,0.3,0.5,1.1,0.7)
b = inside(1,1,0.5,0.2,1.1,2)
if (a == True and b == True):
    print('The point (1,1) lies within both the rectangle (0.3,0.5)(1.1,0.7) and (0.5,0.2)(1.1,2).')
else:
    print('The point (1,1) does not lie within both the rectangle (0.3,0.5)(1.1,0.7) and (0.5,0.2)(1.1,2).')

The point (1,1) does not lie within both the rectangle (0.3,0.5)(1.1,0.7) and (0.5,0.2)(1.1,2).

Question 4

16. You can turn a word into pig-Latin using the following two rules (simplified):
• If the word starts with a consonant, move that letter to the end and append
'ay'. For example, 'happy' becomes 'appyhay' and 'pencil' becomes 'encilpay'.
• If the word starts with a vowel, simply append 'way' to the end of the word.
For example, 'enter' becomes 'enterway' and 'other' becomes 'otherway' . For
our purposes, there are 5 vowels: a, e, i, o, u (so we count y as a consonant).
Write a function pig() that takes a word (i.e., a string) as input and returns its pigLatin form. Your function should still work if the input word contains upper case
characters. Your output should always be lower case however.

In [ ]:
def pig(str):
  s=str.lower()
  if s[0]!='a'or s[0]!='e':
    print(s)
  elif s[0]!='i' or s[0]!='o':
    print(s)
  elif s[0]!='u':
    print(s)
  else:
      print(s[1:]+s[0])

In [ ]:
pig("piyush")

piyush

Question 5

File bloodtype1.txt records blood-types of patients (A, B, AB, O or OO) at a clinic.
Write a function bldcount() that reads the file with name name and reports (i.e.,
prints) how many patients there are in each bloodtype.

In [9]:
def bloodcount():
    fileptr = open('/content/sample_data/bloodtype1.txt', 'r')
    typeList = fileptr.read()
    fileptr.close()
    bloodType = typeList.split()
    var = len(bloodType)
    bloodTypeList = ['A', 'B', 'AB', 'O', 'OO']
    count = [0 ,0 ,0 ,0 ,0] #blood group list in format [A, B, AB, O, OO]
    for i in range(var):
        if bloodType[i] == bloodTypeList[0]:
            count[0] = count[0] + 1
        elif bloodType[i] == bloodTypeList[1]:
            count[1] = count[1] + 1
        elif bloodType[i] == bloodTypeList[2]:
            count[2] = count[2] + 1
        elif bloodType[i] == bloodTypeList[3]:
            count[3] = count[3] + 1
        elif bloodType[i] == bloodTypeList[4]:
            count[4] = count[4] + 1
        else:
            print('Invalid Input\n')

    for i in range(len(bloodTypeList)):
        print('There are {} patients of blood type {}.'.format(count[i],bloodTypeList[i]))

In [10]:
bloodcount()

There are 15 patients of blood type A.
There are 1 patients of blood type B.
There are 13 patients of blood type AB.
There are 15 patients of blood type O.
There are 0 patients of blood type OO.

Question 6

Write a function curconv() that takes as input:
1. a currency represented using a string (e.g., 'JPY' for the Japanese Yen or
'EUR' for the Euro)
2. an amount
and then converts and returns the amount in US dollars.

In [20]:
def displayCurrencies():
    
    fileptr = open('/bin/currencies.txt', 'r') 
    print('Currencies:')
    print('Acronym\tCurrent Value\tCurrency Name')
    print(fileptr.read())
    fileptr.close()

def curconv(a,b):
    fileptr = open('/bin/currencies.txt', 'r') 
    listLines = fileptr.readlines() 
    fileptr.close()
    for i in listLines:
        if a in i:
            currencyLine = i
            chosenCur = currencyLine.split()
            value = chosenCur[1]
            convertedAmount = float(value) * float(b)
            return convertedAmount

     
displayCurrencies()
currency = str(input('Enter the currency acronym (ex: AUD): '))
print('The currency you chose: {} '.format(currency))
amount = input('Enter the amount: ')
convertedAmount = curconv(currency,amount)
print('Converted Amount is: {}'.format(convertedAmount))

Currencies:
Acronym	Current Value	Currency Name
AUD	1.0345157	Australian Dollar
CHF	1.0237414	Swiss Franc
CNY	0.1550176	Chinese Yuan
DKK	0.1651442	Danish Krone
EUR	1.2296544	Euro
GBP	1.5550989	British Pound
HKD	0.1270207	Hong Kong Dollar
INR	0.0177643	Indian Rupee
JPY	0.01241401	Japanese Yen
MXN	0.0751848	Mexican Peso
MYR	0.3145411	Malaysian Ringgit
NOK	0.1677063	Norwegian Krone
NZD	0.8003591	New Zealand Dollar
PHP	0.0233234	Philippine Peso
SEK	0.148269	Swedish Krona
SGD	0.788871	Singapore Dollar
THB	0.0313789	Thai Baht
Enter the currency acronym (ex: AUD): AUD
The currency you chose: AUD
Enter the amount: 100
Converted Amount is: 103.45157

Question 7

Each of the following will cause an exception (an error). Identify what type of
exception each will cause.

Trying to add incompatible variables, as in
adding 6 + ‘a’

Ans : TypeError.

Referring to the 12th item of a list that has only 10
items

Ans: IndexError. This is because the list has only 10 items and the reference to the 12th item does not exist.

Using a value that is out of range for a function’s
input, such as calling math.sqrt(-1.0)

Ans: ValueError.

Using an undeclared variable, such as print(x)
when x has not been defined 

Ans: NameError. It is because x is an unassigned identifier.

Trying to open a file that does not exist, such as
mistyping the file name or looking in the wrong
directory. 

Ans: FileNotFoundError. The error occurs as the file referred does not exist

Question 8

Encryption is the process of hiding the meaning of a text by substituting letters in the
message with other letters, according to some system. If the process is successful, no
one but the intended recipient can understand the encrypted message. Cryptanalysis
refers to attempts to undo the encryption, even if some details of the encryption are
unknown (for example, if an encrypted message has been intercepted). The first step
of cryptanalysis is often to build up a table of letter frequencies in the encrypted text.
Assume that the string letters is already defined as
'abcdefghijklmnopqrstuvwxyz'. Write a function called frequencies()
that takes a string as its only parameter, and returns a list of integers, showing the
number of times each character appears in the text. Your function may ignore any
characters that are not in letters.

In [38]:
def frequencies(str):
  word='abcdefghijklmnopqrstuvwxyz'
  str1=str.lower()
  listword=list(word)
  count=[0]*26
  for i in str1:
        for j in range(len(listword)):
            if i == listword[j]:
                count[j]+= 1;
  print(count)

In [39]:
frequencies('The quick red fox got bored and went home.')

[1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 3, 1, 0, 1, 1, 0, 0]

Question 9

The Sieve of Erastophenes is an algorithm -- known to ancient Greeks -- that finds
all prime numbers up to a given number n. It does this by first creating a list L from
2 to n and an (initially empty) list primeL. The algorithm then takes the first number
in list L (2) and appends it to list primeL, and then removes 2 and all its multiples
(4,6,8,10,12, ...) from L. The algorithm then takes the new first number in L (3) and
appends it to list primeL, and then removes from L 3 and all its remaining multiples
(9,15,21,...). So, in every iteration, the first number of list L is appended to list
primeL and then it and its multiples are removed from list L. The iterations stop
when list L becomes empty. Write a function sieve() that takes as input a positive
integer n, implements the above algorithm, and returns a list of all prime numbers up
to n.

In [ ]:
def seive(n):
    multiple=[]
    for i in range(2,n+1):
        if i not in multiple:
            print(i)
            for j in range(i*i,n+1,i):
                multiple.append(j)

In [ ]:
seive(100)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Question 10

Implement function triangleArea(a,b,c) that takes as input the lengths of the 3
sides of a triangle and returns the area of the triangle. By Heron's formula, the area
of a triangle with side lengths a, b, and c is
s(s - a)(s -b)(s -c)
, where
s = (a+b+c)/2.

In [ ]:
def triangleArea(a,b,c):
  s=(a+b+c)/2
  area=s*(s-a)*(s-b)*(s-c)
  return math.sqrt(area)

In [ ]:
triangleArea(2,2,2)

1.7320508075688772