
**Question 1**

Consider the following Python module:

a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

After importing the module into the interpreter, you execute:

>>> b()
>>> b()
>>> b()
>>> a
?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [199]:
from moduleab import b,c

In [200]:
b()

In [201]:
b()

In [202]:
b()

In [207]:
a

0

<!-- The Value of "a" got increase by 2 everytime we called the def b(). the initial value of  'a' was 0 but there is one more a decleration of a as global whose value is being changed in the def b thats why when we call the a its value has been changed to 6.

So when we call first time the def b() a is declared as global when the value of a is changed to a=a+2 a=0+2 a=2
then we call the def b() again now the value of a is already 2. As per the statement now a=a+2 a=2+2 a=4
and for the third time the value gets changed when we call def b() a = a+2  a= 4+2 a=6.

thats why we get a=6 when we call a -->

When the function in b() is called the value of the a is not changed as the b () does not return any value. The C() uses the value of a as the input and +2 in the value of a.

But when we specifically calls the a from the module then the value is of the a is taken from the module it self which is not changes or has been set to.

 as a is the global variable then the value is stays put i,e a=0 as it was set in the module.

**Question 2**


Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
  File "<pyshell#34>", line 1, in <module>
    fileLength('idterm.py')
  File "/Users/me/midterm.py", line 3, in fileLength
    infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [109]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError: 
        print(" Please check the directory of the file or the name of the file")

In [208]:
file_length("abc.txt")

 Please check the directory of the file or the name of the file

**Question 3**


Write a class named Marsupial that can be used as shown below:

>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a.	extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,

b.	supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and

c.	overloads the __str__ operator so it behaves as shown below.

>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [71]:
class Marsupial():
    list1=[]
#     def __init__(self,x,y):
#         self.x1=x
#         self.y1=y
    def put_in_pouch(self,a):
        
        self.list1.append(a)
    def pouch_contents(self):
        print(self.list1)

In [72]:
m=Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [73]:

class Kangaroo(Marsupial):
    def __init__(self,x,y):
        self.x2=x
        self.y2=y
        
    def __str__(self):
        return ('I am a Kangaroo located at coordinates ({0},{1})'.format(self.x2,self.y2))
    def jump(self,dx,dy):
        self.x2 =self.x2 + dx
        self.y2 = self.y2 + dy

In [74]:
k=Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4
Implement a new GUI class App that combines user-defined tkinter widget classes Calculator and Mortgage displayed below: (This question can be done using a .py file)
 ![image.png]()
 
Your GUI should look like this:
 

![image.png]()

In [134]:
from tkinter import *
from tkinter.messagebox import showinfo   

class App:
    
    def clicked():
        
        mortgage_value = "no intreaction sorry "
        showinfo(message=mortgage_value)

    def mortgage():
        root = Tk()
        loan = Label(root, foreground='black', background='white', pady=10, padx=10, text='Loan Amount:')
        loan.grid(row=0, column=0)
        loan_value = Entry(root)
        loan_value.grid(row=0, column=1, columnspan=2)
        interest = Label(root, foreground='black', background='white', pady=10, padx=10, text='Interest rate:')
        interest.grid(row=1, column=0)
        interest_value = Entry(root)
        interest_value.grid(row=1, column=1, columnspan=2)
        loant = Label(root, foreground='black', background='white', padx=10, pady=10, text='Loan terms:')
        loant.grid(row=2, column=0)
        loant_value = Entry(root)
        loant_value.grid(row=2, column=1, columnspan=2)
        compute = Button(root, foreground='black', background='white', padx=10, pady=10, relief=RAISED,
                         text='Compute Mortgage:', command=clicked)
        compute.grid(row=3, column=0)
        compute_value = Entry(root)
        compute_value.grid(row=3, column=3, columnspan=2)
        root.mainloop()

In [128]:
from tkinter import *
from tkinter.messagebox import showinfo

class App:
    
        def clicked():
             mortgage_value = "no intreaction sorry "
             showinfo(message=mortgage_value)
        def calculate():
            root = Tk()
            labels = [['MC', 'M+', 'M-', 'MR'],
              ['C', '√', 'x²', '+'],
              ['7', '8', '9', '-'],
              ['4', '5', '6', '*'],
              ['1', '2', '3', '/'],
              ['0', '.', '+-', '=']]
            for r in range(6):
                for c in range(4):
                    label = Button(root, foreground='black', background='white', relief=RAISED, padx=10, text=labels[r][c],
                           command=clicked)
                    label.grid(row=r, column=c)

            root.mainloop()

**Question 5**


Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
 
x = {█(  x/2                    if x is even@3x+1               if x is odd)┤

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [186]:
def condition_one(x):
    x=x/2
    collatz(x)
    
def condition_two(x):
    x=(3*x)+1
    collatz(x)

def collatz(x):
    
    if x==1:
        return x
    if x%2==0:
        print(x)
        condition_one(x)
    elif x%2!=0:
        print(x)
        condition_two(x)
    else :
        pass

In [187]:
collatz(10)

10
5.0
16.0
8.0
4.0
2.0

**Question 6**

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [171]:
def binary(x):
    if x<1:
        return("Value is Negative")
    elif x>1:
        binary(x//2)
    print(x%2,end='')

In [172]:
binary(-2)

'Value is Negative'

In [173]:
binary(10)

1010

**Question 7**

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
 Principles

In [125]:
from html.parser import *


class HeadingParser(HTMLParser):
    def __init__(self):
        HTMLParser.__init__(self)
        self.var=False
        self.indent=0
    def handle_data(self,stri):
        if self.var:
            print( "\033[1m"+'{}{}'.format(self.var*'',stri)+"\033[0m")
            self.indent+=1
    def handle_starttag(self,tag,attrs):
        if tag in {'h0','h1','h2','h3','h4','h5'}:
            self.var=True
    def handle_endtag(self,tag):
        if tag in {'h0','h1','h2','h3','h4','h5'}:
            self.var=False

In [126]:
infile=open('W3C.html')
content=infile.read()
infile.close()
hp=HeadingParser()
hp.feed(content)

W3C Mission
Principles

**Question 8**

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent,  should be used to indicate the depth of a URL.

>>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
    http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
        http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [110]:
from urllib.request import urlopen

from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)


                        
def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links
def webdir(url):
    
    print('\n\nVisiting', url)           # for testing

    # obtain links in the web page
    content = urlopen(url).read().decode()
    collectors = Collector(url)
    collectors.feed(content)
    urls = collectors.getLinks()          # get list of links

    # compute word frequencies
    content = collectors.getData()
    freq = frequency(content)

    # print the frequency of every text data word in web page
    print('\n{:45} {:10} {:5}'.format('URL', 'word', 'count'))
    for word in freq:
        print('{:45} {:10} {:5}'.format(url, word, freq[word]))

#     print the http links found in web page
    print('\n{:45} {:10}'.format('URL', 'link'))
    for link in urls:
        print('{:45} {:10}'.format(url, link))

    return urls

In [111]:

url = 'http://www.w3.org/Consortium/mission.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector()
collector.feed(content)
collector.getLinks()
webdir('http://reed.cs.depaul.edu/lperkovic/one.html')

TypeError: __init__() missing 1 required positional argument: 'url'

Question 9
Write SQL queries on the below database table that return: 

a)	All the temperature data.

b)	All the cities, but without repetition.

c)	All the records for India.

d)	All the Fall records.

e)	The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f)	The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

g)	The total annual rainfall for Cairo.

h)	The total rainfall for each season.

City 	Country 	Season 	Temperature (C)	Rainfall (mm)
Mumbai 	India 	Winter 	24.8 	5.9 
Mumbai 	India 	Spring	28.4 	16.2 
Mumbai 	India 	Summer	27.9 	1549.4 
Mumbai 	India 	Fall	27.6 	346.0 
London 	United Kingdom 	Winter	4.2 	207.7 
London 	United Kingdom 	Spring	8.3 	169.6 
London 	United Kingdom 	Summer	15.7 	157.0 
London 	United Kingdom 	Fall	10.4 	218.5 
Cairo 	Egypt 	Winter	13.6 	16.5 
Cairo 	Egypt 	Spring	20.7 	6.5 
Cairo 	Egypt 	Summer	27.7 	0.1 
Cairo 	Egypt 	Fall	22.2 	4.5

In [ ]:
 !pip install ipython-sql

In [ ]:
 %load_ext sql

In [ ]:
%sql sqlite://

In [ ]:
%%sql
CREATE TABLE PS2(City varchar(50),Country varchar(50),Season varchar(50),Temprature real,Rainfall real);

In [ ]:
%sql SELECT * from PS2;

In [ ]:
%%sql

UPDATE PS2 SET City='Cairo' 
where City='Cario';

In [ ]:
%%sql
INSERT INTO PS2 VALUES('Mumbai','India','Spring',28.4,'16.2');
INSERT INTO PS2 VALUES('Mumbai','India','Summer',27.9,1549.4);
INSERT INTO PS2 VALUES('Mumbai','India','Fall',27.6,346.0);
INSERT INTO PS2 VALUES('London','United Kingdom','Winter',4.2,207.7);
INSERT INTO PS2 VALUES('London','United Kingdom','Spring',8.3,169.6);
INSERT INTO PS2 VALUES('London','United Kingdom','Summer',15.7,157.0);
INSERT INTO PS2 VALUES('London','United Kingdom','Fall',10.4,218.5);
INSERT INTO PS2 VALUES('Cario','Egypt','Winter',13.6,16.5);
INSERT INTO PS2 VALUES('Cario','Egypt','Spring',20.7,6.5);
INSERT INTO PS2 VALUES('Cario','Egypt','Summer',27.7,0.1);
INSERT INTO PS2 VALUES('Cario','Egypt','Fall',22.2,4.5);

In [156]:
%sql SELECT * FROM PS2

 * sqlite://
Done.

[('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [157]:
%%sql
SELECT Temprature FROM PS2;

 * sqlite://
Done.

[(28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [158]:
%%sql
SELECT City FROM PS2 Group By City;

 * sqlite://
Done.

[('Cairo',), ('London',), ('Mumbai',)]

In [159]:
%%sql
SELECT * FROM PS2 where Country ='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [160]:
%%sql
SELECT * FROM PS2 where Season ='Fall'

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [161]:
%%sql
SELECT CITY, COUNTRY, SEASON FROM PS2 where Rainfall<=400 AND Rainfall >=200

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [162]:
%%sql
SELECT CITY , COUNTRY FROM PS2 where Temprature >20 AND Season ='Fall'

 * sqlite://
Done.

[('Mumbai', 'India'), ('Cairo', 'Egypt')]

In [163]:
%%sql
SELECT sum(Rainfall) FROM PS2 where City= 'Cairo';

 * sqlite://
Done.

[(27.6,)]

In [164]:
%%sql
SELECT Rainfall FROM PS2 Group By Season;

 * sqlite://
Done.

[(346.0,), (16.2,), (1549.4,), (207.7,)]

Question 10

. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:

a)	['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b)	['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c)	[3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d)	[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e)	['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [141]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [142]:
#A
#list=[]
#for i in words:
    #list=i.upper()
#print(list)
list=[x.upper() for x in words]
print(list)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [143]:
#B
list2=[x.lower() for x in words]
print(list2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [144]:
#C
list3=[len(i) for i in words]
print(list3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [155]:
#4
list4=[[i.upper(), i.lower(), len(i)] for i in list]
list4

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [146]:
#5
list5=[]
for i in words:
    if len(i) >=4:
        list5+=[i]
print(list5)

['quick', 'brown', 'jumps', 'over', 'lazy']